_area_ratio_paper.txt
_area_ratio_preview-1.png
_area_ratio_preview-2.png
_area_ratio_preview-3.png
_area_ratio_preview-4.png
_area_ratio_preview-5.png
_area_ratio_preview-6.png
Area_Ratio-Based_Box_Counting_Algorithm_for_Intelligent_Inventory_in_Stacked_Goods_Environments.pdf
main.aux
main.aux
main.bbl
main.blg
main.log
main.out
main.tec
main.toc
